<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
   
    <div class="profile">
      <img class="imageProfile" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt-F5GQg8qB2fWquF1ltQvAT2Z8Dv5pJLb9w&usqp=CAU" alt="">
      <p class="username">Username</p>
      
    </div>

    <button class="btnComponent" routerLink="/login" routerLinkActive="active-link"  mat-button>  <mat-icon  aria-label="icon" color="primary">assignment</mat-icon> Booking</button><br>
    <button class="btnComponent" routerLink="/login" routerLinkActive="active-link"  mat-button>  <mat-icon  aria-label="icon" color="primary">group</mat-icon> Customer management</button><br>
    <button class="btnComponent" routerLink="/login" routerLinkActive="active-link"  mat-button>  <mat-icon  aria-label="icon" color="primary">people</mat-icon> Biz Partner Management</button><br>
    <button class="btnComponent" routerLink="/login" routerLinkActive="active-link"  mat-button>  <mat-icon  aria-label="icon" color="primary">insert_drive_file</mat-icon> Report</button><br>
    <button class="btnComponent" routerLink="/login" routerLinkActive="active-link"  mat-button>  <mat-icon  aria-label="icon" color="primary">person</mat-icon> User Management</button><br>
    <button class="btnComponent" routerLink="/login" routerLinkActive="active-link"  mat-button>  <mat-icon  aria-label="icon" color="primary">settings</mat-icon> setting</button><br>
    <button class="btnexit" routerLink="/login" routerLinkActive="active-link" mat-stroked-button color="warn">Exit</button><br>

  </mat-drawer>

  <div class="buttonStart">
  
    <mat-toolbar color="primary">
      <button class="iconStart" (click)="drawer.toggle()" mat-mini-fab color="light"><mat-icon>menu</mat-icon></button>
      <span>Booking system</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="rightbtn" aria-label="Example icon-button with heart icon">
        <mat-icon color="white">brightness_2</mat-icon>
      </button>
      <button mat-icon-button class="rightbtn" aria-label="Example icon-button with heart icon">
        <mat-icon color="white">wb_sunny</mat-icon>
      </button>

      <button mat-icon-button class="rightbtn" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>
      </button>
    </mat-toolbar>
    
  </div>

</mat-drawer-container>

   
